.photo-grid {
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 92px;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    gap: 14px;
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        margin-left: 48px;
        margin-right: 48px;
        margin-bottom: 88px;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        max-width: 1184px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 88px;
        grid-template-columns: 50% 50%;
        gap: 16px;
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 64px;
        min-width: 288px;
        max-width: 216px;
        grid-template-columns: minmax(min-content, max-content);
        grid-template-rows: minmax(min-content, max-content);
        gap: 12px;
    }
}