.photo-grid {
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 92px;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    gap: 14px;
}