.card__link {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}

.card__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 425px) {
    .card__link {
        display: none;
    }
}
