.card__paragraph {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 29px;
    max-width: 448px;
    margin-bottom: 27px;
    width: 98%;
}

.card__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 1280px) {
    .card__paragraph {
        max-width: 484px;
    }
}

@media screen and (max-width: 1023px) {
    .card__paragraph {
        font-size: 16px;
        line-height: 26px;
        max-width: 345px;
    }
}

@media screen and (max-width: 425px) {
    .card__paragraph {
        max-width: 288px;
        margin: 0 auto;

    }
}