.lead {
    max-width: 928px;
    color: #fff;
    margin: 0 auto 92px;
    margin-left: 48px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .lead {
        margin-left: 24px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        margin-left: 16px;
        margin-bottom: 64px;
    }
}