@media screen and (min-width: 1280px) {
    .main {
        max-width: 1280px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .main {
        max-width: 768px;
    }
}

@media screen and (max-width: 425px) {
    .main {
        max-width: 425px;
    }
}