.cover__subtitle {
    margin: 0;
    padding: 0;
    position: relative;
    left: 335px;
    top: 180px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    max-width: 360px;
    font-weight: 400;
}

@media screen and (min-width: 1280px) {
    .cover__subtitle {
        top: 292px;
        left: 412px;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        top: 120px;
        left: 204px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 288px;
        top: 16px;
        left: 16px;
    }
}