.cover__subtitle {
    margin: 0 auto auto;
    padding: 0;
    z-index: 3;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    max-width: 360px;
    font-weight: 400;
}

@media screen and (min-width: 1280px) {
    .cover__subtitle {
        padding-bottom: 245px;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        padding-bottom: 115px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 288px;
        padding-bottom: 33px;
    }
}