.card__url-heading {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 20px;
    color: #aaa;
    margin-bottom: 12px;
    letter-spacing: 0.2em;
}

@media screen and (max-width: 768px) {
    .card__url-heading {
        line-height: 12px;
    }
}

@media screen and (max-width: 425px) {
    .card__url-heading {
        display: none;
    }
}