.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

@media screen and (min-width: 1280px) {
    .header {
        max-width: 1280px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 768px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        max-width: 425px;
    }
}