.footer__nav-link {
    margin-right: 18px;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;
}

.footer__nav-link:last-child {
    margin-right: 0;
}

.footer__nav-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .footer__nav-link {
        margin-right: 0px;
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
    }
    .footer__nav-link:last-child {
        margin-bottom: 0;
    }
}