.intro__text {
    margin: 0;
    padding: 0;
    padding-bottom: 33px;
    font-size: 16px;
    line-height: 26px;
}

@media screen and (max-width: 425px) {
    .intro__text {
        padding-bottom: 34px;
    }
}