.lead__subtitle {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    width: 640px;
    margin: 0 auto 56px;
}

@media screen and (max-width: 768px) {
    .lead__subtitle  {
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle  {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 40px;
        max-width: 288px;
    }
}