.cover {
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 62.5vw;
    padding: 22px 16px 20px 16px;
    box-sizing: border-box;
    position: relative;
}

.cover::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #2A2C2F;
    opacity: 0.3;
}

.cover:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .cover {
        margin-bottom: 64px;
        padding: 0;
    }
}