.cover {
    width: 100%;
}

@media screen and (min-width: 1280px) {
    .cover {
        min-width: 1184px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        margin-bottom: 64px;
        padding: 0;
    }
}