.footer__nav {
    display: flex;
    justify-content: space-between;
    margin: 92px 48px 24px;
}

@media screen and (max-width: 768px) {
    .footer__nav {
        margin: 88px 24px 24px;
        
    }
}

@media screen and (max-width: 320px) {
    .footer__nav {
        flex-direction: column;
        margin: 64px 16px 0;
    }
}