@import url(../vendor/normalize.css);
@import url(../fonts/inter.css);
@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang/header__lang.css);
@import url(../blocks/header/__lang/header__lang-link.css);
@import url(../blocks/header/__lang/_active/header__lang-link_active.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list/_span/intro__list_span.css);
@import url(../blocks/intro/__lists/intro__lists.css);


@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__image/photo-grid__image.css);

@import url(../blocks/places/places.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__website/card__website.css);
@import url(../blocks/card/__url-heading/card__url-heading.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__paragraph/card__paragraph.css);
@import url(../blocks/card/__link/card__link.css);
@import url(../blocks/card/__image/card__image.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/cover/__text-position/cover__text-position.css);
@import url(../blocks/cover/__link/cover__link.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__nav/footer__nav.css);
@import url(../blocks/footer/__author/footer__author.css);
@import url(../blocks/footer/__nav-link/footer__nav-link.css);
@import url(../blocks/footer/__style-item/footer__style-item.css);





