.lead__caption { 
    margin-left:0;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-top: 5px;
}

@media screen and (max-width: 1023px) {
    .lead__caption { 
        margin-top: 8px;
        margin-left: 24px;
    }
}

@media screen and (max-width: 425px) {
    .lead__caption { 
        font-size: 10px;
        line-height: 14px;
        margin-left: 16px;
    }
}