.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

@media screen and (min-width: 1280px) {
    .footer {
        max-width: 1280px;
    }
}


@media screen and (max-width: 767px) {
    .footer {
        max-width: 768px;
        flex-direction: column;
    }
}

